alias rc=". ~/.profile"
alias drc="direnv allow; . ~/.profile"

alias c="clear"
alias l="ls -al"
alias lg="ls | grep"

alias m="mkdir -p"
alias rd="rmdir"

alias t="touch"
alias v="vim"
alias co="chown"
alias cg="chgrp"

alias 644="chmod 644"
alias 744="chmod 744"
alias 755="chmod 755"
alias 775="chmod 775"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias agi="apt-get install"
alias agr="apt-get remove"
alias agu="apt-get update"
alias acs="apt-cache search"

alias da="direnv allow"

alias gin="git init"
alias ga="git add"
alias gcm="git commit -m"
alias grh="git reset HEAD~"
alias gpsh="git push"
alias gpll="git pull"
alias gcl="git clone"
alias gls="git ls-files"

alias p="python"
alias p3="python3"
alias pym="python manage.py"

alias pir="pip install -r requirements.txt"
alias pin="pip install"
alias spi="sudo -H pip install"
alias pfr="pip freeze > requirements.txt"

alias doc="docker"
alias dps="docker ps"
alias dlg="docker logs"
alias dex="docker exec -it"
alias drn="docker run -it"
alias dnw="docker network"
alias dsw="docker swarm"
alias dsi="docker swarm init"

alias dmc="docker-machine"
alias dms="docker-machine ls"
alias dme="docker-machine env"
alias dmu="docker-machine env -u"
alias dsh="docker-machine ssh"
alias dip="docker-machine ip"
alias dcp="docker-machine scp -r -d"

alias dco="docker-compose"
alias dcr="docker-compose restart"

alias dcb="docker-compose build"
alias dcbr="docker-compose build && docker-compose restart"

alias dcu="docker-compose up"
alias dcud="docker-compose up -d"
alias dcbu="docker-compose up --build"
alias dcbud="docker-compose up --build -d"

alias dcdu="docker-compose down && docker-compose up"
alias dcdud="docker-compose down && docker-compose up -d"
alias dcdbu="docker-compose down && docker-compose up --build"
alias dcdbud="docker-compose down && docker-compose up --build -d"

alias nin="npm init"
alias nis="npm i -S"
alias nid="npm i -D"
alias nig="npm i -g"
alias nst="npm start"

alias gb="gulp build"
alias gu="gulp upload"

alias sys="systemctl"
alias syr="systemctl restart"
alias syrn="systemctl restart nginx"
alias syrd="systemctl restart docker"
alias sydr="systemctl daemon-reload"
