alias pf=". ~/.bash_profile"
alias vp="vim ~/.bash_profile"
alias va="vim ~/.bash_aliases"
alias da="direnv allow"

alias c="clear"
alias l="ls -al"
alias g="ls | grep"

lsp () {
  lsof -i :${1}
}

alias m="mkdir -p"
alias rd="rmdir"

alias t="touch"
alias v="vim"
alias co="chown"
alias cg="chgrp"

alias 644="chmod 644"
alias 744="chmod 744"
alias 755="chmod 755"
alias 775="chmod 775"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias python="python3"
alias p="python3"

alias pip="pip3"
alias pi="pip3 install"
alias pir="pip3 install -r requirements.txt"

alias venv="virtualenv venv"
alias vba="source venv/bin/activate"
alias deac="deactivate"

alias d="docker"
alias dps="docker ps"
alias dpl="docker ps -lq
alias db="docker build"
alias dr="docker run"
alias dri="docker run -it"
alias dpl="docker pull"
alias dpsh="docker push"
alias dlo="docker logs"
alias dex="docker exec"
alias dei="docker exec -it"

alias dc="docker-compose"
alias dcb="docker-compose build"
alias dcu="docker-compose up"
alias dcud="docker-compose up -d"
alias dcd="docker-compose down"
alias dcbu="docker-compose build && docker-compose up"
alias dcbud="docker-compose build && docker-compose up -d"
alias dcr="docker-compose restart"

alias ec2="aws ec2"
alias ecs="aws ecs"
alias ecsrt="aws ecs register-task-definition --cli-input-json file://"
alias ecr="aws ecr"
alias ecrli="$(aws ecr get-login --no-include-email)"
alias ecrcr="aws ecr create-repository --repository-name"

alias ss="spark-submit"

alias bi="brew install"
alias bu="brew uninstall"
alias bd="brew doctor"
alias bc="brew cleanup -s"
alias bl="brew list"

alias gcl="git clone"
alias gpl="git pull"
alias gpsh="git push"
alias gcm="git commit -m"
alias grm="git remote"
alias gls="git ls-files"

alias nin="npm init"
alias nis="npm i -S"
alias nid="npm i -D"
alias nig="npm i -g"
alias nst="npm start"

alias gb="gulp build"
alias gu="gulp upload"
