alias pfl=". ~/.profile"

alias cl="clear"
alias mkd="mkdir"

alias 644="chmod 644"
alias 744="chmod 744"
alias 755="chmod 755"
alias 775="chmod 775"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias v="vim"
alias sv="sudo vim"

alias agi="sudo apt-get install"
alias agr="sudo apt-get remove"
alias acs="apt-cache search"
alias agu="sudo apt-get update && sudo apt-get upgrade && sudo apt-get dist-upgrade && sudo apt-get autoremove"

alias gin="git init"
alias ga="git add"
alias gcm="git commit -m"
alias grh="git reset HEAD~"
alias gpsh="git push"
alias gpll="git pull"
alias gcl="git clone"
alias gls="git ls-files"

alias pir="pip install -r requirements.txt"
alias pin="pip install"
alias spi="sudo -H pip install"
alias pfr="pip freeze > requirements.txt"

alias pym="python manage.py"

alias doc="docker"
alias dps="docker ps"
alias dlog="docker logs"
alias dex="docker exec -it"
alias drn="docker run -it"
alias dnw="docker network"
alias dsw="docker swarm"
alias dsi="docker swarm init"
alias dsd="docker stack deploy -c ./docker-compose.yml"
alias dnws="docker network ls"
alias drmi="docker rmi $(docker images -a -q)"

alias dmc="docker-machine"
alias dms="docker-machine ls"

alias dco="docker-compose"
alias dcr="docker-compose restart"
alias dcrn="docker-compose run"

alias dcb="docker-compose build"
alias dcbr="docker-compose build && docker-compose restart"

alias dcu="docker-compose up"
alias dcud="docker-compose up -d"
alias dcur="docker-compose up --remove-orphans"
alias dcudr="docker-compose up -d --remove-orphans"

alias dcbu="docker-compose build && docker-compose up"
alias dcbud="docker-compose build && docker-compose up -d"
alias dcbur="docker-compose build && docker-compose up --remove-orphans"
alias dcbudr="docker-compose build && docker-compose up -d --remove-orphans"

alias dcd="docker-compose down"
alias dcdb="docker-compose down && docker-compose build"
alias dcdbu="docker-compose down && docker-compose build && docker-compose up"
alias dcdbud="docker-compose down && docker-compose build && docker-compose up -d"
alias dcdbur="docker-compose down && docker-compose build && docker-compose up --remove-orphans"
alias dcdbudr="docker-compose down && docker-compose build && docker-compose up -d --remove-orphans"

alias ecrl="$(aws ecr get-login --no-include-email --region us-east-1)"

alias ecs="ecs-cli"
alias ecc="ecs-cli compose"
alias ecu="ecs-cli compose -f docker-compose.prod.yml up"

alias nin="npm init"
alias nis="npm i -S"
alias nid="npm i -D"
alias nig="npm i -g"

alias sys="sudo systemctl"
alias syr="sudo systemctl restart"
alias syrn="sudo systemctl restart nginx"
alias syrd="sudo systemctl restart docker"
alias sydr="sudo systemctl daemon-reload"